<div class="titulo">
    <h1>Sal's Pizza con AngularJS</h1>
</div>
<div class="menu" ng-controller="PedidosPizzas as pedidos">
    <table>
        <thead>
            <tr><th>Pedidos</th></tr>
        </thead>
    </table>
    <table id="tabla">
        <tbody>
        	<tr ng-repeat="pedido in pedidos.datos.pedidos">
        		<td ng-click="pedidos.seleccionar(pedido)" class="pedido">
                    {{pedidos.mostrar(pedido)}}
                </td>
        	</tr>
            <tr>
                <td class="pedido">
                    <a href="#/pedido">Volver</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
