<div class="titulo">
    <h1>Sal's Pizza con AngularJS</h1>
</div>
<div class="menu" ng-controller="controladorPedido as pedido">
    <table>
        <thead>
            <tr><th>Comprar</th><th>Pizzas</th><th>Tipo</th><th>Precio</th></tr>
        </thead>
    </table>
    <div class="calculo">
        <input class="filtro" type="text" data-ng-model="filtro"/>
        <span class="total">
            Total: <span>{{total() | currency}}</span>
        </span>
    </div>

    <table id="tabla">
        <tbody>
        	<tr ng-repeat="pizza in pizzas() | orderBy:'tipo' | filter:filtro">
        		<td>
                    <img ng-click="add(pizza)" src="images/plus.svg" class="svgicon"></img>   
                    <input ng-model="pizza.cantidad" type="number" min="0" max="15">
                    <img ng-click="remove(pizza)" src="images/minus.svg" class="svgicon"></img> 
                </td>
                <td>{{pizza.nombre}}</td>
                <td>{{pizza.tipo}}</td>
                <td>{{pizza.precio | currency}}</td>
        	</tr>
        </tbody>
    </table>
    <div class="row">
        <a href="#/pedidos">Ver Pedidos</a>
    </div>
    <div class="row" ng-hide="vacio()">
        <button ng-click="pedir()">Pedir</button>
    </div>
</div>
